<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<connectionStrings>
		<add name="myconnection" connectionString="Data Source = LTZAMRAPP20; Initial Catalog = CheckWeigh; User ID = cwuser; Password = cwuser; Integrated Security=False" providerName="System.Data.SqlClient"/>
	</connectionStrings>
</configuration>